openapi: 3.0.3
info:
  title: Nordigen Account Information Services API
  version: 2.0 (v2)
servers:
- url: https://ob.nordigen.com
security:
- jwtAuth: []
paths:
  /api/v2/accounts/{id}/:
    get:
      description: |-
        Access account metadata.

        Information about the account record, such as the processing status and IBAN.

        Account status is recalculated based on the error count in the latest req.
      operationId: retrieve account metadata
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A UUID string identifying this account.
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountV2'
          description: sample account metadata
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    summary: 'Account: $ACC_ID not found'
                    detail: 'Account: $ACC_ID not found'
                    status_code: 404
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: "null"
      tags:
      - accounts
  /api/v2/accounts/{id}/balances/:
    get:
      description: |-
        Access account balances.

        Balances will be returned in Berlin Group PSD2 format.
      operationId: accounts_balances_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A UUID string identifying this account.
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                RetrieveAccountBalances:
                  description: Sample account balances
                  summary: Account balances
                  value:
                    balances:
                    - balanceAmount:
                        amount: "657.49"
                        currency: string
                      balanceType: string
                      referenceDate: 2021-11-22
                    - balanceAmount:
                        amount: "185.67"
                        currency: string
                      balanceType: string
                      referenceDate: 2021-11-19
              schema:
                additionalProperties: {}
                type: object
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid Account ID
                  summary: Invalid ID
                  value:
                    summary: Invalid Account ID
                    detail: $ACCOUNT_ID is not a valid UUID.
                    status_code: 400
                DateRangeError:
                  description: Incorrect date range in query parameters
                  summary: Date range error
                  value:
                    summary: Incorrect date range
                    detail: Starting date '2022-04-08' is greater than end date '2022-03-29'.
                      When specifying date range, starting date must precede the end
                      date
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
                AccessExpiredError:
                  description: Couldn't update account balances
                  summary: Access Expired Error
                  value:
                    summary: Couldn't update account balances
                    detail: Access has expired or it has been revoked. To restore
                      access reconnect the account.
                    type: AccessExpiredError
                    status_code: 401
                AccountInactiveError:
                  description: Couldn't update account balances
                  summary: Account Inactive Error
                  value:
                    summary: Couldn't update account balances
                    detail: Account has been deactivated or it no longer exists.
                    type: AccountInactiveError
                    status_code: 401
                FailedAuthentication:
                  description: Couldn't update account balances
                  summary: Failed Authentication
                  value:
                    summary: Couldn't update account balances
                    detail: SSN Verification has failed
                    type: FailedAuthentication
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
                AccountEUAScopeError:
                  description: EUA doesn't allow access to account balances.
                  summary: Account EUA scope error
                  value:
                    summary: End User Agreement (EUA) access scope error
                    detail: EUA doesn't allow access to account balances. Check EUA
                      access scope. Or create new EUA with correct access scope
                    status_code: 403
                AccountValidEUAError:
                  description: Account has no valid End User Agreement
                  summary: Account valid EUA error
                  value:
                    summary: No valid End User Agreement
                    error: Account exists but there is no valid End User Agreement
                      permitting you to access it
                    status_code: 403
                AccountAccessForbidden:
                  description: Couldn't update account balances
                  summary: Account Access Forbidden
                  value:
                    summary: Couldn't update account balances
                    detail: Access to account is forbidden. The user might not have
                      the necessary permissions.
                    type: AccountAccessForbidden
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    summary: 'Account: $ACC_ID not found'
                    detail: 'Account: $ACC_ID not found'
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
        "409":
          content:
            application/json:
              examples:
                AccountSuspendedError:
                  description: Account or its requisition suspended
                  summary: Account suspended error
                  value:
                    summary: Account suspended
                    detail: This account or its requisition was suspended due to numerous
                      errors that occurred while accessing it.
                    status_code: 409
                AccountStateError:
                  description: Account state does not support this operation
                  summary: Account state error
                  value:
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    created: 2022-03-29T14:36:26.891042Z
                    last_accessed: 2022-03-29T14:36:26.891047Z
                    iban: string
                    aspsp_identifier: string
                    status: ERROR
              schema:
                additionalProperties: {}
                type: object
        "429":
          content:
            application/json:
              examples:
                RateLimitError:
                  description: Couldn't update account balances
                  summary: Rate Limit Error
                  value:
                    summary: Couldn't update account balances
                    detail: Daily request limit set by the Institution has been exceeded.
                    type: RateLimitError
                    status_code: 429
              schema:
                additionalProperties: {}
                type: object
        "500":
          content:
            application/json:
              examples:
                UnknownRequestError:
                  description: Couldn't update account balances
                  summary: Unknown Request Error
                  value:
                    summary: Couldn't update account balances
                    detail: Request to Institution returned an error
                    type: UnknownRequestError
                    status_code: 500
              schema:
                additionalProperties: {}
                type: object
        "503":
          content:
            application/json:
              examples:
                ServiceError:
                  description: Couldn't update account balances
                  summary: Service Error
                  value:
                    summary: Couldn't update account balances
                    detail: Institution service unavailable
                    type: ServiceError
                    status_code: 503
                ConnectionError:
                  description: Couldn't update account balances
                  summary: Connection Error
                  value:
                    summary: Couldn't update account balances
                    detail: Couldn't connect to Institution
                    type: ConnectionError
                    status_code: 503
              schema:
                additionalProperties: {}
                type: object
      tags:
      - accounts
  /api/v2/accounts/{id}/details/:
    get:
      description: |-
        Access account details.

        Account details will be returned in Berlin Group PSD2 format.
      operationId: accounts_details_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A UUID string identifying this account.
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                RetrieveAccountDetails:
                  description: Sample account details
                  summary: Sample account details
                  value:
                    account:
                      resourceId: string
                      iban: string
                      currency: string
                      ownerName: string
                      name: string
                      product: string
                      cashAccountType: string
              schema:
                additionalProperties: {}
                type: object
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid Account ID
                  summary: Invalid ID
                  value:
                    summary: Invalid Account ID
                    detail: $ACCOUNT_ID is not a valid UUID.
                    status_code: 400
                DateRangeError:
                  description: Incorrect date range in query parameters
                  summary: Date range error
                  value:
                    summary: Incorrect date range
                    detail: Starting date '2022-04-08' is greater than end date '2022-03-29'.
                      When specifying date range, starting date must precede the end
                      date
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
                AccessExpiredError:
                  description: Couldn't update account balances
                  summary: Access Expired Error
                  value:
                    summary: Couldn't update account balances
                    detail: Access has expired or it has been revoked. To restore
                      access reconnect the account.
                    type: AccessExpiredError
                    status_code: 401
                AccountInactiveError:
                  description: Couldn't update account balances
                  summary: Account Inactive Error
                  value:
                    summary: Couldn't update account balances
                    detail: Account has been deactivated or it no longer exists.
                    type: AccountInactiveError
                    status_code: 401
                FailedAuthentication:
                  description: Couldn't update account balances
                  summary: Failed Authentication
                  value:
                    summary: Couldn't update account balances
                    detail: SSN Verification has failed
                    type: FailedAuthentication
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
                AccountEUAScopeError:
                  description: EUA doesn't allow access to account balances.
                  summary: Account EUA scope error
                  value:
                    summary: End User Agreement (EUA) access scope error
                    detail: EUA doesn't allow access to account balances. Check EUA
                      access scope. Or create new EUA with correct access scope
                    status_code: 403
                AccountValidEUAError:
                  description: Account has no valid End User Agreement
                  summary: Account valid EUA error
                  value:
                    summary: No valid End User Agreement
                    error: Account exists but there is no valid End User Agreement
                      permitting you to access it
                    status_code: 403
                AccountAccessForbidden:
                  description: Couldn't update account balances
                  summary: Account Access Forbidden
                  value:
                    summary: Couldn't update account balances
                    detail: Access to account is forbidden. The user might not have
                      the necessary permissions.
                    type: AccountAccessForbidden
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    summary: 'Account: $ACC_ID not found'
                    detail: 'Account: $ACC_ID not found'
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
        "409":
          content:
            application/json:
              examples:
                AccountSuspendedError:
                  description: Account or its requisition suspended
                  summary: Account suspended error
                  value:
                    summary: Account suspended
                    detail: This account or its requisition was suspended due to numerous
                      errors that occurred while accessing it.
                    status_code: 409
                AccountStateError:
                  description: Account state does not support this operation
                  summary: Account state error
                  value:
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    created: 2022-03-29T14:36:26.891042Z
                    last_accessed: 2022-03-29T14:36:26.891047Z
                    iban: string
                    aspsp_identifier: string
                    status: ERROR
              schema:
                additionalProperties: {}
                type: object
        "429":
          content:
            application/json:
              examples:
                RateLimitError:
                  description: Couldn't update account balances
                  summary: Rate Limit Error
                  value:
                    summary: Couldn't update account balances
                    detail: Daily request limit set by the Institution has been exceeded.
                    type: RateLimitError
                    status_code: 429
              schema:
                additionalProperties: {}
                type: object
        "500":
          content:
            application/json:
              examples:
                UnknownRequestError:
                  description: Couldn't update account balances
                  summary: Unknown Request Error
                  value:
                    summary: Couldn't update account balances
                    detail: Request to Institution returned an error
                    type: UnknownRequestError
                    status_code: 500
              schema:
                additionalProperties: {}
                type: object
        "503":
          content:
            application/json:
              examples:
                ServiceError:
                  description: Couldn't update account balances
                  summary: Service Error
                  value:
                    summary: Couldn't update account balances
                    detail: Institution service unavailable
                    type: ServiceError
                    status_code: 503
                ConnectionError:
                  description: Couldn't update account balances
                  summary: Connection Error
                  value:
                    summary: Couldn't update account balances
                    detail: Couldn't connect to Institution
                    type: ConnectionError
                    status_code: 503
              schema:
                additionalProperties: {}
                type: object
      tags:
      - accounts
  /api/v2/accounts/{id}/transactions/:
    get:
      description: |-
        Access account transactions.

        Transactions will be returned in Berlin Group PSD2 format.
      operationId: accounts_transactions_retrieve
      parameters:
      - examples:
          "2021-12-29":
            description: ISO 8601 format date
            summary: 2021-12-29
            value: 2021-12-29
        explode: true
        in: query
        name: date_from
        required: false
        schema:
          format: date
          type: string
        style: form
      - examples:
          "2022-03-29":
            description: ISO 8601 format date
            summary: 2022-03-29
            value: 2022-03-29
        explode: true
        in: query
        name: date_to
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A UUID string identifying this account.
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                RetrieveAccountTransactions:
                  description: Sample account balances
                  summary: Account transactions
                  value:
                    transactions:
                      booked:
                      - transactionId: string
                        debtorName: string
                        debtorAccount:
                          iban: string
                        transactionAmount:
                          currency: string
                          amount: "328.18"
                        bankTransactionCode: string
                        bookingDate: date
                        valueDate: date
                        remittanceInformationUnstructured: string
                      - transactionId: string
                        transactionAmount:
                          currency: string
                          amount: "947.26"
                        bankTransactionCode: string
                        bookingDate: date
                        valueDate: date
                        remittanceInformationUnstructured: string
                      pending:
                      - transactionAmount:
                          currency: string
                          amount: float
                        valueDate: date
                        remittanceInformationUnstructured: string
              schema:
                additionalProperties: {}
                type: object
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid Account ID
                  summary: Invalid ID
                  value:
                    summary: Invalid Account ID
                    detail: $ACCOUNT_ID is not a valid UUID.
                    status_code: 400
                DateRangeError:
                  description: Incorrect date range in query parameters
                  summary: Date range error
                  value:
                    summary: Incorrect date range
                    detail: Starting date '2022-04-08' is greater than end date '2022-03-29'.
                      When specifying date range, starting date must precede the end
                      date
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
                AccessExpiredError:
                  description: Couldn't update account transactions
                  summary: Access Expired Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Access has expired or it has been revoked. To restore
                      access reconnect the account.
                    type: AccessExpiredError
                    status_code: 401
                AccountInactiveError:
                  description: Couldn't update account transactions
                  summary: Account Inactive Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Account has been deactivated or it no longer exists.
                    type: AccountInactiveError
                    status_code: 401
                FailedAuthentication:
                  description: Couldn't update account transactions
                  summary: Failed Authentication
                  value:
                    summary: Couldn't update account transactions
                    detail: SSN Verification has failed
                    type: FailedAuthentication
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
                AccountEUAScopeError:
                  description: EUA doesn't allow access to account transactions.
                  summary: Account EUA scope error
                  value:
                    summary: End User Agreement (EUA) access scope error
                    detail: EUA doesn't allow access to account transactions. Check
                      EUA access scope. Or create new EUA with correct access scope
                    status_code: 403
                AccountValidEUAError:
                  description: Account has no valid End User Agreement
                  summary: Account valid EUA error
                  value:
                    summary: No valid End User Agreement
                    error: Account exists but there is no valid End User Agreement
                      permitting you to access it
                    status_code: 403
                AccountAccessForbidden:
                  description: Couldn't update account transactions
                  summary: Account Access Forbidden
                  value:
                    summary: Couldn't update account transactions
                    detail: Access to account is forbidden. The user might not have
                      the necessary permissions.
                    type: AccountAccessForbidden
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    summary: 'Account: $ACC_ID not found'
                    detail: 'Account: $ACC_ID not found'
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
        "409":
          content:
            application/json:
              examples:
                AccountSuspendedError:
                  description: Account or its requisition suspended
                  summary: Account suspended error
                  value:
                    summary: Account suspended
                    detail: This account or its requisition was suspended due to numerous
                      errors that occurred while accessing it.
                    status_code: 409
                AccountStateError:
                  description: Account state does not support this operation
                  summary: Account state error
                  value:
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    created: 2022-03-29T14:36:26.891042Z
                    last_accessed: 2022-03-29T14:36:26.891047Z
                    iban: string
                    aspsp_identifier: string
                    status: ERROR
              schema:
                additionalProperties: {}
                type: object
        "429":
          content:
            application/json:
              examples:
                RateLimitError:
                  description: Couldn't update account transactions
                  summary: Rate Limit Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Daily request limit set by the Institution has been exceeded.
                    type: RateLimitError
                    status_code: 429
              schema:
                additionalProperties: {}
                type: object
        "500":
          content:
            application/json:
              examples:
                UnknownRequestError:
                  description: Couldn't update account transactions
                  summary: Unknown Request Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Request to Institution returned an error
                    type: UnknownRequestError
                    status_code: 500
              schema:
                additionalProperties: {}
                type: object
        "503":
          content:
            application/json:
              examples:
                ServiceError:
                  description: Couldn't update account transactions
                  summary: Service Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Institution service unavailable
                    type: ServiceError
                    status_code: 503
                ConnectionError:
                  description: Couldn't update account transactions
                  summary: Connection Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Couldn't connect to Institution
                    type: ConnectionError
                    status_code: 503
              schema:
                additionalProperties: {}
                type: object
      tags:
      - accounts
  /api/v2/accounts/premium/{id}/balances/:
    get:
      description: Access account premium balances.
      operationId: retrieve account balances v2
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A UUID string identifying this account.
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: No response body
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid Account ID
                  summary: Invalid ID
                  value:
                    summary: Invalid Account ID
                    detail: $ACCOUNT_ID is not a valid UUID.
                    status_code: 400
                DateRangeError:
                  description: Incorrect date range in query parameters
                  summary: Date range error
                  value:
                    summary: Incorrect date range
                    detail: Starting date '2022-04-08' is greater than end date '2022-03-29'.
                      When specifying date range, starting date must precede the end
                      date
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
                AccessExpiredError:
                  description: Couldn't update account balances
                  summary: Access Expired Error
                  value:
                    summary: Couldn't update account balances
                    detail: Access has expired or it has been revoked. To restore
                      access reconnect the account.
                    type: AccessExpiredError
                    status_code: 401
                AccountInactiveError:
                  description: Couldn't update account balances
                  summary: Account Inactive Error
                  value:
                    summary: Couldn't update account balances
                    detail: Account has been deactivated or it no longer exists.
                    type: AccountInactiveError
                    status_code: 401
                FailedAuthentication:
                  description: Couldn't update account balances
                  summary: Failed Authentication
                  value:
                    summary: Couldn't update account balances
                    detail: SSN Verification has failed
                    type: FailedAuthentication
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
                AccountEUAScopeError:
                  description: EUA doesn't allow access to account balances.
                  summary: Account EUA scope error
                  value:
                    summary: End User Agreement (EUA) access scope error
                    detail: EUA doesn't allow access to account balances. Check EUA
                      access scope. Or create new EUA with correct access scope
                    status_code: 403
                AccountValidEUAError:
                  description: Account has no valid End User Agreement
                  summary: Account valid EUA error
                  value:
                    summary: No valid End User Agreement
                    error: Account exists but there is no valid End User Agreement
                      permitting you to access it
                    status_code: 403
                AccountAccessForbidden:
                  description: Couldn't update account balances
                  summary: Account Access Forbidden
                  value:
                    summary: Couldn't update account balances
                    detail: Access to account is forbidden. The user might not have
                      the necessary permissions.
                    type: AccountAccessForbidden
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    summary: 'Account: $ACC_ID not found'
                    detail: 'Account: $ACC_ID not found'
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
        "409":
          content:
            application/json:
              examples:
                AccountSuspendedError:
                  description: Account or its requisition suspended
                  summary: Account suspended error
                  value:
                    summary: Account suspended
                    detail: This account or its requisition was suspended due to numerous
                      errors that occurred while accessing it.
                    status_code: 409
                AccountStateError:
                  description: Account state does not support this operation
                  summary: Account state error
                  value:
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    created: 2022-03-29T14:36:26.891042Z
                    last_accessed: 2022-03-29T14:36:26.891047Z
                    iban: string
                    aspsp_identifier: string
                    status: ERROR
              schema:
                additionalProperties: {}
                type: object
        "429":
          content:
            application/json:
              examples:
                RateLimitError:
                  description: Couldn't update account balances
                  summary: Rate Limit Error
                  value:
                    summary: Couldn't update account balances
                    detail: Daily request limit set by the Institution has been exceeded.
                    type: RateLimitError
                    status_code: 429
              schema:
                additionalProperties: {}
                type: object
        "500":
          content:
            application/json:
              examples:
                UnknownRequestError:
                  description: Couldn't update account balances
                  summary: Unknown Request Error
                  value:
                    summary: Couldn't update account balances
                    detail: Request to Institution returned an error
                    type: UnknownRequestError
                    status_code: 500
              schema:
                additionalProperties: {}
                type: object
        "503":
          content:
            application/json:
              examples:
                ServiceError:
                  description: Couldn't update account balances
                  summary: Service Error
                  value:
                    summary: Couldn't update account balances
                    detail: Institution service unavailable
                    type: ServiceError
                    status_code: 503
                ConnectionError:
                  description: Couldn't update account balances
                  summary: Connection Error
                  value:
                    summary: Couldn't update account balances
                    detail: Couldn't connect to Institution
                    type: ConnectionError
                    status_code: 503
              schema:
                additionalProperties: {}
                type: object
      tags:
      - premium
  /api/v2/accounts/premium/{id}/details/:
    get:
      description: Access account premium details.
      operationId: retrieve account details v2
      parameters:
      - description: ISO 3166 two-character country code
        examples:
          Austria:
            description: ISO 3166 two-character code for Austria
            summary: Austria
            value: AT
          Belgium:
            description: ISO 3166 two-character code for Belgium
            summary: Belgium
            value: BE
          Bulgaria:
            description: ISO 3166 two-character code for Bulgaria
            summary: Bulgaria
            value: BG
          Croatia:
            description: ISO 3166 two-character code for Croatia
            summary: Croatia
            value: HR
          Cyprus:
            description: ISO 3166 two-character code for Cyprus
            summary: Cyprus
            value: CY
          Czechia:
            description: ISO 3166 two-character code for Czechia
            summary: Czechia
            value: CZ
          Denmark:
            description: ISO 3166 two-character code for Denmark
            summary: Denmark
            value: DK
          Estonia:
            description: ISO 3166 two-character code for Estonia
            summary: Estonia
            value: EE
          Finland:
            description: ISO 3166 two-character code for Finland
            summary: Finland
            value: FI
          France:
            description: ISO 3166 two-character code for France
            summary: France
            value: FR
          Germany:
            description: ISO 3166 two-character code for Germany
            summary: Germany
            value: DE
          Greece:
            description: ISO 3166 two-character code for Greece
            summary: Greece
            value: GR
          Hungary:
            description: ISO 3166 two-character code for Hungary
            summary: Hungary
            value: HU
          Iceland:
            description: ISO 3166 two-character code for Iceland
            summary: Iceland
            value: IS
          Ireland:
            description: ISO 3166 two-character code for Ireland
            summary: Ireland
            value: IE
          Italy:
            description: ISO 3166 two-character code for Italy
            summary: Italy
            value: IT
          Latvia:
            description: ISO 3166 two-character code for Latvia
            summary: Latvia
            value: LV
          Liechtenstein:
            description: ISO 3166 two-character code for Liechtenstein
            summary: Liechtenstein
            value: LI
          Lithuania:
            description: ISO 3166 two-character code for Lithuania
            summary: Lithuania
            value: LT
          Luxembourg:
            description: ISO 3166 two-character code for Luxembourg
            summary: Luxembourg
            value: LU
          Malta:
            description: ISO 3166 two-character code for Malta
            summary: Malta
            value: MT
          Netherlands:
            description: ISO 3166 two-character code for Netherlands
            summary: Netherlands
            value: NL
          Norway:
            description: ISO 3166 two-character code for Norway
            summary: Norway
            value: "NO"
          Poland:
            description: ISO 3166 two-character code for Poland
            summary: Poland
            value: PL
          Portugal:
            description: ISO 3166 two-character code for Portugal
            summary: Portugal
            value: PT
          Romania:
            description: ISO 3166 two-character code for Romania
            summary: Romania
            value: RO
          Slovakia:
            description: ISO 3166 two-character code for Slovakia
            summary: Slovakia
            value: SK
          Slovenia:
            description: ISO 3166 two-character code for Slovenia
            summary: Slovenia
            value: SI
          Spain:
            description: ISO 3166 two-character code for Spain
            summary: Spain
            value: ES
          Sweden:
            description: ISO 3166 two-character code for Sweden
            summary: Sweden
            value: SE
          UnitedKingdom:
            description: ISO 3166 two-character code for United Kingdom
            summary: United Kingdom
            value: GB
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A UUID string identifying this account.
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: No response body
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid Account ID
                  summary: Invalid ID
                  value:
                    summary: Invalid Account ID
                    detail: $ACCOUNT_ID is not a valid UUID.
                    status_code: 400
                DateRangeError:
                  description: Incorrect date range in query parameters
                  summary: Date range error
                  value:
                    summary: Incorrect date range
                    detail: Starting date '2022-04-08' is greater than end date '2022-03-29'.
                      When specifying date range, starting date must precede the end
                      date
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
                AccessExpiredError:
                  description: Couldn't update account details
                  summary: Access Expired Error
                  value:
                    summary: Couldn't update account details
                    detail: Access has expired or it has been revoked. To restore
                      access reconnect the account.
                    type: AccessExpiredError
                    status_code: 401
                AccountInactiveError:
                  description: Couldn't update account details
                  summary: Account Inactive Error
                  value:
                    summary: Couldn't update account details
                    detail: Account has been deactivated or it no longer exists.
                    type: AccountInactiveError
                    status_code: 401
                FailedAuthentication:
                  description: Couldn't update account details
                  summary: Failed Authentication
                  value:
                    summary: Couldn't update account details
                    detail: SSN Verification has failed
                    type: FailedAuthentication
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
                AccountEUAScopeError:
                  description: EUA doesn't allow access to account details.
                  summary: Account EUA scope error
                  value:
                    summary: End User Agreement (EUA) access scope error
                    detail: EUA doesn't allow access to account details. Check EUA
                      access scope. Or create new EUA with correct access scope
                    status_code: 403
                AccountValidEUAError:
                  description: Account has no valid End User Agreement
                  summary: Account valid EUA error
                  value:
                    summary: No valid End User Agreement
                    error: Account exists but there is no valid End User Agreement
                      permitting you to access it
                    status_code: 403
                AccountAccessForbidden:
                  description: Couldn't update account details
                  summary: Account Access Forbidden
                  value:
                    summary: Couldn't update account details
                    detail: Access to account is forbidden. The user might not have
                      the necessary permissions.
                    type: AccountAccessForbidden
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    summary: 'Account: $ACC_ID not found'
                    detail: 'Account: $ACC_ID not found'
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
        "409":
          content:
            application/json:
              examples:
                AccountSuspendedError:
                  description: Account or its requisition suspended
                  summary: Account suspended error
                  value:
                    summary: Account suspended
                    detail: This account or its requisition was suspended due to numerous
                      errors that occurred while accessing it.
                    status_code: 409
                AccountStateError:
                  description: Account state does not support this operation
                  summary: Account state error
                  value:
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    created: 2022-03-29T14:36:26.891042Z
                    last_accessed: 2022-03-29T14:36:26.891047Z
                    iban: string
                    aspsp_identifier: string
                    status: ERROR
              schema:
                additionalProperties: {}
                type: object
        "429":
          content:
            application/json:
              examples:
                RateLimitError:
                  description: Couldn't update account details
                  summary: Rate Limit Error
                  value:
                    summary: Couldn't update account details
                    detail: Daily request limit set by the Institution has been exceeded.
                    type: RateLimitError
                    status_code: 429
              schema:
                additionalProperties: {}
                type: object
        "500":
          content:
            application/json:
              examples:
                UnknownRequestError:
                  description: Couldn't update account details
                  summary: Unknown Request Error
                  value:
                    summary: Couldn't update account details
                    detail: Request to Institution returned an error
                    type: UnknownRequestError
                    status_code: 500
              schema:
                additionalProperties: {}
                type: object
        "503":
          content:
            application/json:
              examples:
                ServiceError:
                  description: Couldn't update account details
                  summary: Service Error
                  value:
                    summary: Couldn't update account details
                    detail: Institution service unavailable
                    type: ServiceError
                    status_code: 503
                ConnectionError:
                  description: Couldn't update account details
                  summary: Connection Error
                  value:
                    summary: Couldn't update account details
                    detail: Couldn't connect to Institution
                    type: ConnectionError
                    status_code: 503
              schema:
                additionalProperties: {}
                type: object
      tags:
      - premium
  /api/v2/accounts/premium/{id}/transactions/:
    get:
      description: Access account premium transactions.
      operationId: retrieve account transactions v2
      parameters:
      - description: ISO 3166 two-character country code
        examples:
          Austria:
            description: ISO 3166 two-character code for Austria
            summary: Austria
            value: AT
          Belgium:
            description: ISO 3166 two-character code for Belgium
            summary: Belgium
            value: BE
          Bulgaria:
            description: ISO 3166 two-character code for Bulgaria
            summary: Bulgaria
            value: BG
          Croatia:
            description: ISO 3166 two-character code for Croatia
            summary: Croatia
            value: HR
          Cyprus:
            description: ISO 3166 two-character code for Cyprus
            summary: Cyprus
            value: CY
          Czechia:
            description: ISO 3166 two-character code for Czechia
            summary: Czechia
            value: CZ
          Denmark:
            description: ISO 3166 two-character code for Denmark
            summary: Denmark
            value: DK
          Estonia:
            description: ISO 3166 two-character code for Estonia
            summary: Estonia
            value: EE
          Finland:
            description: ISO 3166 two-character code for Finland
            summary: Finland
            value: FI
          France:
            description: ISO 3166 two-character code for France
            summary: France
            value: FR
          Germany:
            description: ISO 3166 two-character code for Germany
            summary: Germany
            value: DE
          Greece:
            description: ISO 3166 two-character code for Greece
            summary: Greece
            value: GR
          Hungary:
            description: ISO 3166 two-character code for Hungary
            summary: Hungary
            value: HU
          Iceland:
            description: ISO 3166 two-character code for Iceland
            summary: Iceland
            value: IS
          Ireland:
            description: ISO 3166 two-character code for Ireland
            summary: Ireland
            value: IE
          Italy:
            description: ISO 3166 two-character code for Italy
            summary: Italy
            value: IT
          Latvia:
            description: ISO 3166 two-character code for Latvia
            summary: Latvia
            value: LV
          Liechtenstein:
            description: ISO 3166 two-character code for Liechtenstein
            summary: Liechtenstein
            value: LI
          Lithuania:
            description: ISO 3166 two-character code for Lithuania
            summary: Lithuania
            value: LT
          Luxembourg:
            description: ISO 3166 two-character code for Luxembourg
            summary: Luxembourg
            value: LU
          Malta:
            description: ISO 3166 two-character code for Malta
            summary: Malta
            value: MT
          Netherlands:
            description: ISO 3166 two-character code for Netherlands
            summary: Netherlands
            value: NL
          Norway:
            description: ISO 3166 two-character code for Norway
            summary: Norway
            value: "NO"
          Poland:
            description: ISO 3166 two-character code for Poland
            summary: Poland
            value: PL
          Portugal:
            description: ISO 3166 two-character code for Portugal
            summary: Portugal
            value: PT
          Romania:
            description: ISO 3166 two-character code for Romania
            summary: Romania
            value: RO
          Slovakia:
            description: ISO 3166 two-character code for Slovakia
            summary: Slovakia
            value: SK
          Slovenia:
            description: ISO 3166 two-character code for Slovenia
            summary: Slovenia
            value: SI
          Spain:
            description: ISO 3166 two-character code for Spain
            summary: Spain
            value: ES
          Sweden:
            description: ISO 3166 two-character code for Sweden
            summary: Sweden
            value: SE
          UnitedKingdom:
            description: ISO 3166 two-character code for United Kingdom
            summary: United Kingdom
            value: GB
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - examples:
          "2021-12-29":
            description: ISO 8601 format date
            summary: 2021-12-29
            value: 2021-12-29
        explode: true
        in: query
        name: date_from
        required: false
        schema:
          format: date
          type: string
        style: form
      - examples:
          "2022-03-29":
            description: ISO 8601 format date
            summary: 2022-03-29
            value: 2022-03-29
        explode: true
        in: query
        name: date_to
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A UUID string identifying this account.
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: No response body
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid Account ID
                  summary: Invalid ID
                  value:
                    summary: Invalid Account ID
                    detail: $ACCOUNT_ID is not a valid UUID.
                    status_code: 400
                DateRangeError:
                  description: Incorrect date range in query parameters
                  summary: Date range error
                  value:
                    summary: Incorrect date range
                    detail: Starting date '2022-04-08' is greater than end date '2022-03-29'.
                      When specifying date range, starting date must precede the end
                      date
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
                AccessExpiredError:
                  description: Couldn't update account transactions
                  summary: Access Expired Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Access has expired or it has been revoked. To restore
                      access reconnect the account.
                    type: AccessExpiredError
                    status_code: 401
                AccountInactiveError:
                  description: Couldn't update account transactions
                  summary: Account Inactive Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Account has been deactivated or it no longer exists.
                    type: AccountInactiveError
                    status_code: 401
                FailedAuthentication:
                  description: Couldn't update account transactions
                  summary: Failed Authentication
                  value:
                    summary: Couldn't update account transactions
                    detail: SSN Verification has failed
                    type: FailedAuthentication
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
                AccountEUAScopeError:
                  description: EUA doesn't allow access to account transactions.
                  summary: Account EUA scope error
                  value:
                    summary: End User Agreement (EUA) access scope error
                    detail: EUA doesn't allow access to account transactions. Check
                      EUA access scope. Or create new EUA with correct access scope
                    status_code: 403
                AccountValidEUAError:
                  description: Account has no valid End User Agreement
                  summary: Account valid EUA error
                  value:
                    summary: No valid End User Agreement
                    error: Account exists but there is no valid End User Agreement
                      permitting you to access it
                    status_code: 403
                AccountAccessForbidden:
                  description: Couldn't update account transactions
                  summary: Account Access Forbidden
                  value:
                    summary: Couldn't update account transactions
                    detail: Access to account is forbidden. The user might not have
                      the necessary permissions.
                    type: AccountAccessForbidden
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    summary: 'Account: $ACC_ID not found'
                    detail: 'Account: $ACC_ID not found'
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
        "409":
          content:
            application/json:
              examples:
                AccountSuspendedError:
                  description: Account or its requisition suspended
                  summary: Account suspended error
                  value:
                    summary: Account suspended
                    detail: This account or its requisition was suspended due to numerous
                      errors that occurred while accessing it.
                    status_code: 409
                AccountStateError:
                  description: Account state does not support this operation
                  summary: Account state error
                  value:
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    created: 2022-03-29T14:36:26.891042Z
                    last_accessed: 2022-03-29T14:36:26.891047Z
                    iban: string
                    aspsp_identifier: string
                    status: ERROR
              schema:
                additionalProperties: {}
                type: object
        "429":
          content:
            application/json:
              examples:
                RateLimitError:
                  description: Couldn't update account transactions
                  summary: Rate Limit Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Daily request limit set by the Institution has been exceeded.
                    type: RateLimitError
                    status_code: 429
              schema:
                additionalProperties: {}
                type: object
        "500":
          content:
            application/json:
              examples:
                UnknownRequestError:
                  description: Couldn't update account transactions
                  summary: Unknown Request Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Request to Institution returned an error
                    type: UnknownRequestError
                    status_code: 500
              schema:
                additionalProperties: {}
                type: object
        "503":
          content:
            application/json:
              examples:
                ServiceError:
                  description: Couldn't update account transactions
                  summary: Service Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Institution service unavailable
                    type: ServiceError
                    status_code: 503
                ConnectionError:
                  description: Couldn't update account transactions
                  summary: Connection Error
                  value:
                    summary: Couldn't update account transactions
                    detail: Couldn't connect to Institution
                    type: ConnectionError
                    status_code: 503
              schema:
                additionalProperties: {}
                type: object
      tags:
      - premium
  /api/v2/agreements/enduser/:
    get:
      description: API endpoints related to end-user agreements.
      operationId: retrieve all EUAs for an end user v2
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEndUserAgreementList'
          description: Retrieve all enduser agreements
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
      tags:
      - agreements
    post:
      description: API endpoints related to end-user agreements.
      operationId: create EUA v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndUserAgreementRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EndUserAgreementRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EndUserAgreementRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserAgreement'
          description: Create enduser agreement
        "400":
          content:
            application/json:
              examples:
                InstitutionFieldErrors:
                  description: Errors related to 'institution' field.
                  summary: Institution field errors
                  value:
                    institution_id:
                      summary: Unknown Institution ID $INSTITUTION_ID
                      detail: Get Institution IDs from /institutions/?country={$COUNTRY_CODE}
                    status_code: 400
                AccessScopeFieldErrors:
                  description: Errors related to 'access_scope' field.
                  summary: Access scope field errors
                  value:
                    access_scope:
                    - summary: Unknown value '$SCOPE' in access_scope
                      detail: Choose one or several from ['balances', 'details', 'transactions']
                    - summary: Institution access scope dependencies error
                      detail: 'For this institution the following scopes are required
                        together: [''balances'', ''details'']'
                    - summary: Institution access scope dependencies error
                      detail: 'The following scopes are mandatory for this institution:
                        [''transactions'']'
                    status_code: 400
                MaxHistoricalDaysFieldErrors:
                  description: Errors related to 'max_historical_days' field.
                  summary: Max historical days field errors
                  value:
                    max_historical_days:
                    - summary: Incorrect max_historical_days
                      detail: max_historical_days must be > 0 and <= N26_NTSBDEB1
                        transaction_total_days (730)
                    status_code: 400
                AccessValidForDaysFieldErrors:
                  description: Errors related to 'access_valid_for_days' field.
                  summary: Access valid for days field errors
                  value:
                    access_valid_for_days:
                    - summary: Incorrect access_valid_for_days
                      detail: access_valid_for_days must be > 0 and <= 90
                    status_code: 400
                AgreementFieldErrors:
                  description: Errors related to 'agreement' field.
                  summary: Agreement field errors
                  value:
                    agreement:
                      summary: Incorrect Institution ID $INSTITUTION_ID
                      detail: 'Provided Institution ID: ''$INSTITUTION_ID'' for requisition
                        does not match EUA institution ID ''$EUA_INSTITUTION_ID''.
                        Please provide correct institution ID: ''$EUA_INSTITUTION_ID'''
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
      tags:
      - agreements
  /api/v2/agreements/enduser/{id}/:
    delete:
      description: Delete End User Agreement.
      operationId: delete EUA by id v2
      parameters:
      - description: A UUID string identifying this end user agreement.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                EuaDeleted:
                  description: EUA is deleted
                  summary: Eua Deleted
                  value:
                    summary: End User Agreement deleted
                    detail: End User Agreement '$EUA_ID' deleted
              schema:
                additionalProperties: {}
                type: object
        "400":
          content:
            application/json:
              examples:
                CannotDeleteEUA:
                  description: Cannot delete End User Agreement
                  summary: Cannot delete EUA
                  value:
                    summary: Cannot delete End User Agreement
                    detail: 'Cannot delete accepted End User Agreement: $EUA_ID. Only
                      non accepted agreements can be deleted'
                    status_code: 400
                InvalidID:
                  description: Invalid ID
                  summary: Invalid ID
                  value:
                    summary: Invalid ID
                    detail: 272785d5-de45-4efb-aa1a-f8157ffa94 is not a valid UUID.
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
      tags:
      - agreements
    get:
      description: Get all end user agreements by ID
      operationId: retrieve EUA by id v2
      parameters:
      - description: A UUID string identifying this end user agreement.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserAgreement'
          description: Retrieve enduser agreement by id
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid ID
                  summary: Invalid ID
                  value:
                    summary: Invalid ID
                    detail: 272785d5-de45-4efb-aa1a-f8157ffa94 is not a valid UUID.
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
      tags:
      - agreements
  /api/v2/agreements/enduser/{id}/accept/:
    put:
      description: Accept an end-user agreement via the API.
      operationId: accept EUA
      parameters:
      - description: A UUID string identifying this end user agreement.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnduserAcceptanceDetailsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EnduserAcceptanceDetailsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnduserAcceptanceDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserAgreement'
          description: EUA
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid ID
                  summary: Invalid ID
                  value:
                    summary: Invalid ID
                    detail: 272785d5-de45-4efb-aa1a-f8157ffa94 is not a valid UUID.
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                InsufficientPermissions:
                  description: Company doesn't have permission to accept EUA
                  summary: Insufficient permissions
                  value:
                    summary: Insufficient permissions
                    detail: Your company doesn't have permission to accept EUA. You'll
                      have to use our default form for this action.
                    status_code: 403
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
        "405":
          content:
            application/json:
              examples:
                EUAAccepted:
                  description: End User Agreements cannot be accepted more than once
                  summary: EUA accepted
                  value:
                    summary: EUA cannot be accepted more than once
                    detail: End User Agreements cannot be accepted more than once
                    status_code: 405
              schema:
                additionalProperties: {}
                type: object
      tags:
      - agreements
  /api/v2/institutions/:
    get:
      description: List all available institutions
      operationId: retrieve all supported Institutions in a given country
      parameters:
      - description: ISO 3166 two-character country code
        examples:
          Austria:
            description: ISO 3166 two-character code for Austria
            summary: Austria
            value: AT
          Belgium:
            description: ISO 3166 two-character code for Belgium
            summary: Belgium
            value: BE
          Bulgaria:
            description: ISO 3166 two-character code for Bulgaria
            summary: Bulgaria
            value: BG
          Croatia:
            description: ISO 3166 two-character code for Croatia
            summary: Croatia
            value: HR
          Cyprus:
            description: ISO 3166 two-character code for Cyprus
            summary: Cyprus
            value: CY
          Czechia:
            description: ISO 3166 two-character code for Czechia
            summary: Czechia
            value: CZ
          Denmark:
            description: ISO 3166 two-character code for Denmark
            summary: Denmark
            value: DK
          Estonia:
            description: ISO 3166 two-character code for Estonia
            summary: Estonia
            value: EE
          Finland:
            description: ISO 3166 two-character code for Finland
            summary: Finland
            value: FI
          France:
            description: ISO 3166 two-character code for France
            summary: France
            value: FR
          Germany:
            description: ISO 3166 two-character code for Germany
            summary: Germany
            value: DE
          Greece:
            description: ISO 3166 two-character code for Greece
            summary: Greece
            value: GR
          Hungary:
            description: ISO 3166 two-character code for Hungary
            summary: Hungary
            value: HU
          Iceland:
            description: ISO 3166 two-character code for Iceland
            summary: Iceland
            value: IS
          Ireland:
            description: ISO 3166 two-character code for Ireland
            summary: Ireland
            value: IE
          Italy:
            description: ISO 3166 two-character code for Italy
            summary: Italy
            value: IT
          Latvia:
            description: ISO 3166 two-character code for Latvia
            summary: Latvia
            value: LV
          Liechtenstein:
            description: ISO 3166 two-character code for Liechtenstein
            summary: Liechtenstein
            value: LI
          Lithuania:
            description: ISO 3166 two-character code for Lithuania
            summary: Lithuania
            value: LT
          Luxembourg:
            description: ISO 3166 two-character code for Luxembourg
            summary: Luxembourg
            value: LU
          Malta:
            description: ISO 3166 two-character code for Malta
            summary: Malta
            value: MT
          Netherlands:
            description: ISO 3166 two-character code for Netherlands
            summary: Netherlands
            value: NL
          Norway:
            description: ISO 3166 two-character code for Norway
            summary: Norway
            value: "NO"
          Poland:
            description: ISO 3166 two-character code for Poland
            summary: Poland
            value: PL
          Portugal:
            description: ISO 3166 two-character code for Portugal
            summary: Portugal
            value: PT
          Romania:
            description: ISO 3166 two-character code for Romania
            summary: Romania
            value: RO
          Slovakia:
            description: ISO 3166 two-character code for Slovakia
            summary: Slovakia
            value: SK
          Slovenia:
            description: ISO 3166 two-character code for Slovenia
            summary: Slovenia
            value: SI
          Spain:
            description: ISO 3166 two-character code for Spain
            summary: Spain
            value: ES
          Sweden:
            description: ISO 3166 two-character code for Sweden
            summary: Sweden
            value: SE
          UnitedKingdom:
            description: ISO 3166 two-character code for United Kingdom
            summary: United Kingdom
            value: GB
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                SupportedInstitutions:
                  description: some of supported Institutions
                  summary: Supported Institutions
                  value:
                  - id: N26_NTSBDEB1
                    name: N26 Bank
                    bic: NTSBDEB1
                    transaction_total_days: "90"
                    countries:
                    - "NO"
                    - SE
                    - FI
                    - DK
                    - EE
                    - LV
                    - LT
                    - GB
                    - NL
                    - CZ
                    - ES
                    - PL
                    - BE
                    - DE
                    - AT
                    - BG
                    - HR
                    - CY
                    - FR
                    - GR
                    - HU
                    - IS
                    - IE
                    - IT
                    - LI
                    - LU
                    - MT
                    - PT
                    - RO
                    - SK
                    - SI
                    logo: https://cdn.nordigen.com/ais/N26_SANDBOX_NTSBDEB1.png
                  - id: ABNAMRO_FTSBDEFAXXX
                    name: ABN AMRO Bank Commercial
                    bic: FTSBDEFAXXX
                    transaction_total_days: "558"
                    countries:
                    - DE
                    logo: https://cdn.nordigen.com/ais/ABNAMRO_FTSBDEFAXXX.png
              schema:
                items:
                  $ref: '#/components/schemas/Aspsp'
                type: array
          description: list of supported Institutions in the country
        "400":
          content:
            application/json:
              examples:
                NotAValidChoice:
                  description: Provided country is not valid
                  summary: Not a valid choice
                  value:
                    country:
                    - GBA is not a valid choice.
                    status_code: 400
                UnknownFields:
                  description: Unknown Fields
                  summary: Unknown Fields
                  value:
                    summary: Unknown fields
                    detail: Unknown fields {${FIELD}} in payload
                    status_code: 400
              schema:
                additionalProperties: {}
                type: object
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                CountryParameterErrors:
                  description: Errors related to 'Country' parameter.
                  summary: Country parameter errors
                  value:
                    summary: Country not permitted
                    detail: You do not have permission to access 'KP'
                    status_code: 403
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
      tags:
      - institutions
  /api/v2/institutions/{id}/:
    get:
      description: Get details about a specific Institution
      operationId: retrieve institution
      parameters:
      - examples:
          N26:
            description: Nordigen's Institution ID for N26
            summary: N26
            value: N26_NTSBDEB1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                N26Bank:
                  description: N26 Bank
                  summary: N26 Bank
                  value:
                    id: N26_NTSBDEB1
                    name: N26 Bank
                    bic: NTSBDEB1
                    transaction_total_days: "90"
                    countries:
                    - "NO"
                    - SE
                    - FI
                    - DK
                    - EE
                    - LV
                    - LT
                    - GB
                    - NL
                    - CZ
                    - ES
                    - PL
                    - BE
                    - DE
                    - AT
                    - BG
                    - HR
                    - CY
                    - FR
                    - GR
                    - HU
                    - IS
                    - IE
                    - IT
                    - LI
                    - LU
                    - MT
                    - PT
                    - RO
                    - SK
                    - SI
                    logo: https://cdn.nordigen.com/ais/N26_SANDBOX_NTSBDEB1.png
                ABNAMROBank:
                  description: ABN AMRO Bank
                  summary: ABN AMRO Bank
                  value:
                    id: ABNAMRO_FTSBDEFAXXX
                    name: ABN AMRO Bank Commercial
                    bic: FTSBDEFAXXX
                    transaction_total_days: "558"
                    countries:
                    - DE
                    logo: https://cdn.nordigen.com/ais/ABNAMRO_FTSBDEFAXXX.png
              schema:
                $ref: '#/components/schemas/Aspsp'
          description: Retrieve institution by id
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    summary: Invalid token
                    detail: Token is invalid or expired
                    status_code: 401
              schema:
                additionalProperties: {}
                type: object
        "403":
          content:
            application/json:
              examples:
                CountryParameterErrors:
                  description: Errors related to 'Country' parameter.
                  summary: Country parameter errors
                  value:
                    summary: Country not permitted
                    detail: You do not have permission to access 'KP'
                    status_code: 403
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    summary: IP address access denied
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this
                      action
                    status_code: 403
              schema:
                additionalProperties: {}
                type: object
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    summary: Not found.
                    status_code: 404
              schema:
                additionalProperties: {}
                type: object
      tags:
      - institutions
  /api/v2/requisitions/:
    get:
      description: Retrieve all requisitions belonging to the company
      operationId: retrieve all requisitions
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRequisitionV2List'
          description: retrieve all requisitions
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
[...]
